@import "bootstrap-sprockets";
@import "bootstrap";

.well{
  background-color: #F7F7F7;
  border: solid 1px #BBBBBB;
}

.text-center{
  text-align: center;
}

.avatar{
  border-radius: 5px;
}

.clear-both{
  clear: both;
}

.recipe-info{
  position: relative;
  min-height: 120px;
}

.time-ago{
  position: absolute;
  bottom: 0;
  left: 0;
}

.select_tag{
  width: 20%;
  margin-bottom: 10px;
}